@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Josefin+Sans:ital,wght@0,200;0,300;1,100;1,200;1,300&family=Noto+Sans+Linear+B&family=Oswald:wght@300&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #DEB6AB;
    color: black;
    font-family: "Josefin Sans", sans-serif;
}


/* Header */
header {
    background-color: #F8ECD1;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 5px #494545;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    color: #af1766;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
}



#menu {
    font-size: 130%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    font-weight: bold;
}

.active {
    border-bottom: 1px solid #494545
}

nav {
    position: absolute;
    background-color: #F8ECD1;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 10px 10px #494545;
    display: none;
    top: 100%;

}

#menu-drop:checked~nav {
    display: block;
}

#menu-drop {
    display: none;
}

.menu-drop-label {
    font-size: 2rem;
    color: #712b4f;
}

ul li a:hover {
    background-color: #85586fb4;
    transition: 0.7s;
}


/* Main */
main {
    background-color: #DEB6AB;
    /* To push footer down */
    flex: 1 0 auto;
    margin-top: 100px;
}


/* 4 Cards */
.cards {
    width: 46%;
    height: 150px;
    font-size: 1em;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border: 2px solid rgb(102, 11, 11);      
}

#main-divs {
    display: flex;
    flex-wrap: wrap;  
    background: url("../images/cardsbackground.jpg") no-repeat center/cover;
    }

#main-divs div {
    background-color: rgb(88, 34, 34, .7);
    }


.cards h3, p {
    padding: 0.1em 0.1em;
    text-align: center;
    color: #ea3c3c;
    font-size: 130%;
}











/* Footer */


#helpful-links {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-image: url("../images/footerimage.png");
    background-size: 100% 100%;
}

#helpful-links i {
    font-size: 150%;
    color: rgb(88, 34, 34);
}




@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-right: 3rem;
        padding-top: 1.5em;
    }

    .menu-drop-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 35px;
        margin: 0 0.5rem;
    }

    /* To push main content down */

    main {
        margin-top: 137px;
    }

}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid #540303;
    }  
    
.who {
    transition: transform 0.2s ease;
}

.feeding {
    transition: transform 0.2s ease;
}

.veterinary {
    transition: transform 0.2s ease;
}


.adoption {
    transition: transform 0.2s ease;
}

.who:hover {
    transform-origin: top left;
    transform: scale(1.2);
}

.feeding:hover {
    transform-origin: top right;
    transform: scale(1.2);
}

.veterinary:hover {
    transform-origin: bottom left;
    transform: scale(1.2);
}

.adoption:hover {
    transform-origin: bottom right;
    transform: scale(1.2);
}
}