@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Josefin+Sans:ital,wght@0,200;0,300;1,100;1,200;1,300&family=Noto+Sans+Linear+B&family=Oswald:wght@300&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #DEB6AB;
    color: black;
    font-family: "Josefin Sans", sans-serif;
}


/* Header */
header {
    background-color: #df5b4c;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 5px #494545;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: "Josefin Sans", sans-serif;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 { 
    color: #2f252a;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    text-shadow: 2px 2px #494545;
}



#menu {
    font-size: 130%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    font-weight: bold;
}

.active {
    border-bottom: 1px solid #494545
}

nav {
    position: absolute;
    background-color: #df5b4c;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 10px 10px #494545;
    display: none;
    top: 100%;

}

#menu-drop:checked~nav {
    display: block;
}

#menu-drop {
    display: none;
}

.menu-drop-label {
    font-size:2rem;
    color: #201b1e;    
    position: relative;
    top: 50px;
    right: 15px;       
    }

/* Main */

#welcome h2 { 
    color:#6a6065;
    text-transform: uppercase;
    background-color: rgb(88, 34, 34, 0.8);    
    padding: 1em;
    text-align: center;

}



main {    
    /* To push footer down */
    flex: 1 0 auto;
    margin-top: 100px;
}


/* 4 Cards */
.cards {
    width: 46%;
    height: 200px;
    font-size: 1em;
    border-radius: 10px;
    border: 2px solid rgb(102, 11, 11);
    box-shadow: 5px 2px 2px  #201b1e; 
    }

#main-divs {
    display: flex;
    flex-wrap: wrap;      
    padding: 10px;
    gap: 10px;
}
.who, .veterinary {
    margin-right: 10px;
    background: url("../images/cardsbackgroundleft.webp") no-repeat center/cover;
}

.feeding, .adoption {
    background: url("../images/backgroundimageright.webp") no-repeat center/cover;
}

#main-divs div {
    background-color: rgb(88, 34, 34, .7);
}

.cards h3, p {
    padding: 0.5em 0.1em;
    text-align: center;
    color: #df5b4c;
    font-size: large;
    font-weight: bold;
    text-shadow: 1px 1px #713a3a;
    background-color: rgba(17, 17, 16, 0.7);     
    margin-top: 20px;    
}

/* Gallery Page Styling */

#photos img{
    width: 100%;
    border-radius: 10px;
    line-height: 1em;
    }

#photos {
    line-height: 0;
}



/* Sign-up styling */

#signup {
width: 100%;
height: 50vh;
background-color: rgb(220, 59, 54, 0.5);
text-align: left;
padding:8% 1%;
margin-bottom: 20px;
left: 0;
line-height: 18px;
border-radius: 10px;
}

.text-input {
    display: block;
    width: 90%;
}



#feedback {
    margin-top: 5%;
}


textarea {
    background-color: #c17d6a;
    opacity: 0.7;
    margin-top: 5%;
    margin-left: 1%;
    border-radius: 10px;
    width: 99%;
    font-family: "Josefin Sans", sans-serif;  
    font-size: 18px;

}


.buttons{
    background-color: #de5046 ;
    padding: 4px 4px;
    border-radius: 12px;
    width: 170px;
    margin: 10px;
    border: 2px solid #6f1902;
    position: relative;
    left: 45px;
    transition-duration: 1s;
    }

    

.different-background{
    background: url("../images/signupbackground.webp") no-repeat center/cover;    
    
}




/* Footer */


#helpful-links {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-image: url("../images/footerimage.png");
    background-size: 100% 100%;
}

#helpful-links i {
    font-size: 150%;
    color: rgb(88, 34, 34);
}


@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
    
}

@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-right: 3rem;
        padding-top: 1.5em;
    }

    .menu-drop-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 35px;
        margin: 0 0.5rem;
    }

    /* To push main content down */

    main {
        margin-top: 137px;
    }

    .cards h3, p {
            font-size: x-large;           
        }
    
    .who, .veterinary {         
         margin-left: 20px;
                }

    /* Sign up styling */

    #signup {
        width: 45vw;            
        margin: 1%;
        padding: 40px 10px;          
        line-height: 19px;
        font-size: larger;
        position: relative;
        left: 27%;        
     }            

     input {
        padding: 7px;
        width: 60%
     }   


     #join-button{
        margin-top: 50px;        
     }

    #feedback {
        margin-top: 1%;
        text-align: center;
    } 
    textarea{ 
        width: 45vw;
    }

    legend {
        text-align: center;
    }        
}

@media screen and (min-width: 992px) { 
    
    ul li a:hover {
            background-color: #85586fb4;
            transition: 0.7s;
    }

    #menu a:hover {
        border-bottom: 2px solid #540303;
    }  
    
    .who {
        transition: transform 0.2s ease;
    }

    .feeding {
        transition: transform 0.2s ease;
    }

    .veterinary {
        transition: transform 0.2s ease; 
    }


    .adoption {
        transition: transform 0.2s ease;
    }   

    .who:hover {
        transform-origin: top left;
        transform: scale(1.04);
    }

    .feeding:hover {
        transform-origin: top right;
        transform: scale(1.04);
    }

    .veterinary:hover {
        transform-origin: bottom left;
        transform: scale(1.04);
    }

    .adoption:hover {
        transform-origin: bottom right;
        transform: scale(1.04);
    }
    .who, .veterinary {
        margin-right: 60px;
        margin-left: 30px;
    }
    .buttons:hover {
        background-color: #9c0f05;    
    }
    #photos {
        column-count: 3;
    }

 #helpful-links i {
    font-size: 200%;


}

@media screen and (min-width: 1200px) {
    #photos {
            column-count: 4;
    }
}