@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Josefin+Sans:ital,wght@0,200;0,300;1,100;1,200;1,300&family=Noto+Sans+Linear+B&family=Oswald:wght@300&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styling */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
}


/* Header */
header {
    background-color: #F8ECD1;
    padding: 0 0.5rem;
    position: fixed;
    z-index: 55;
    width: 100%;
    box-shadow: 0 10px 10px #494545;
}

header a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 20px 20px
     
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    color: #85586F;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 5px;

}

nav {
    position: absolute;
    background-color: #f0d39e;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 10px 10px #494545;
    margin-top:0;


}

#menu {
    padding-top: 0.5em;
    font-size: 130%;
    letter-spacing: 3px;    
    list-style-type: none;
    font-family: "Josefin Sans", sans-serif;
}

#menu > li {
    margin-bottom: 0.5em;
    padding-right:1em;
    }

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 20px;
    text-align: center;
    
}
ul li ul.dropdown li{
    display: block;
}
.dropdown {
    width: 100%;
    background-color: #f0d39e;
    position: absolute;
    z-index: 999;
    display: none;    
   }

ul li a:hover {
    background-color: #85586fb4;
    transition: 0.7s;
    }
    





/* Dropdown Content */

/* Main */
main {
    background-color: #DEB6AB;
 /* To push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #AC7D88;
}